.bar {
    position: relative;
    border-radius: 5px;
}

/* .bar .tooltip .tooltipArrow {
    bottom: 40px;
}

.bar:hover {
    cursor: pointer;
}

.bar:hover .tooltip {
    top: -57px;
    opacity: 1;
} */

.positiveBar {
    transform: scaleY(0);
    transform-origin: bottom;
    animation-name: barExpand;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    /* border-top-left-radius: 2px;
    border-top-right-radius: 2px; */
}

.negativeBar {
    transform: scaleY(0);
    transform-origin: top;
    animation-name: barExpand;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

@keyframes barExpand {
    0% {
        transform: scaleY(0);
    }

    100% {
        transform: scaleY(1);
    }
}

/* .tooltip {
    width: max-content;
    background-color: black;
    color: white;
    position: absolute;
    pointer-events: none;
    opacity: 0;
    font-size: 12px;
    text-align: center;
    top: -50px;
    right: 5px;
    transition: all 0.25s;
    border-radius: 3px;
    box-shadow: -3px 3px 3px 0 rgba(0, 0, 0, 0.4);
    display: inline-block;
    padding: 7px 15px;
} */

/* .tooltip p {
    margin: 0;
}

.tooltip .tooltipArrow {
    position: absolute;
    left: 100%;
    margin: 0;
    box-sizing: border-box;
    box-shadow: 0px 3px 3px 0 rgba(0, 0, 0, 0.4);
    z-index: 1;
}

.tooltip .tooltipArrow::after {
    content: "";
    position: absolute;
    top: 3em;
    right: 0;
    width: 20px;
    height: 15px;
    background-color: black;
    box-sizing: border-box;
    box-shadow: -3px 3px 3px 0 rgba(0, 0, 0, 0.4);
    clip-path: polygon(0 0, 100% 100%, 100% 0);
} */

/* histogram.js */

.histogramComponent {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-direction: column;
}

.histogramComponent .mainSection {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.histogramComponent .mainSection .scaleContainer {
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    color: transparent;
    font-size: 13px;
    padding-right: 2%;
}

.histogramComponent .mainSection .histogram {
    width: calc(100% - 55px);
    height: 100%;
    margin: 0 auto;
    /* border: 1px solid #ebebed; */
    position: relative;
}

.histogramComponent .mainSection .histogram.showSlider {
    width: calc(100% -0px);
}

.histogramComponent .mainSection .histogram .bar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: 0;
}

.input-section {
    margin: 5px 0 0 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4em;
}

@media (max-width: 500px) {
    .input-section {
        margin: 5px 0 0 0;
    }
}

.input-section .input-container {
    border: 2px solid rgb(187, 187, 187);
    border-radius: 5px;
    margin: 0 1em;
    padding: 0.2em 1em;
    z-index: 100;
    background-color: white;
}

@media (max-width: 550px) {
    .input-section .input-container {
        margin: 0.5em;
    }
}

.input-section .input-container.selected {
    border: 2px solid grey;
}

.input-section .input-container input {
    height: 2em;
    width: 4em;
    box-shadow: none;
    border: none;
    outline: none;
    font-size: 1em;
    font-weight: 600;
    text-align: center;
    background-color: white;
}

.input-section .input-container input[type="number"]::-webkit-inner-spin-button,
.input-section
    .input-container
    input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.input-section .input-container input[type="number"] {
    -moz-appearance: textfield;
}

/* slider.js */


.sliderContainer {
  /* width of histogram div plus width of each button*/
  width: calc(100% - 0px);
  height: 2em;
  /* margin-left: 55px; */
  position: relative;
  border: 1px solid transparent;
  display: flex;
  align-items: center;
  float: right;
}
.sliderBar {
  position: relative;
  width: 100%;
  height: 5px;
  background-color: #fb4ef1;
}

.sliderBarOverlay {
  position: absolute;
  top: 0;
  height: 100%;
  background-color: lightgray;
}

/* slider-btn */

.slider-btn {
  height: 25px;
  width: 25px;
  outline: none;
  margin: 0;
  position: absolute;
  border-radius: 50%;
  left: 0;
  touch-action: auto;
  bottom: 0;
  background-color: #d616cd;
  border: 0.5px solid #ebebed;
  transition: background-color 0.1s, box-shadow 0.1s;
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2),
      0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
}

.slider-btn:hover {
  cursor: pointer;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
      0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
  background-color: #262f6d;
}